[submodule "aws-lc-sys/aws-lc"]
	path = aws-lc-sys/aws-lc
	url = https://github.com/dalvescb/aws-lc.git
	branch = aix-v1.67.0
[submodule "aws-lc-fips-sys/aws-lc"]
	path = aws-lc-fips-sys/aws-lc
	url = https://github.com/aws/aws-lc.git
	branch = fips-2024-09-27
